* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

/*General Classes*/
.boldText {
    font-weight: bold;
}

.smallText {
    font-size: rem;
}

/* Body Styles */
body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* background: linear-gradient(to top, rgb(150, 180, 255), rgba(88, 188, 255, 1), rgb(255, 255, 255)); */
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(88, 188, 255, 0.8), rgb(255, 255, 255));
}


/*HEADER STYLES*/
header {
    border-bottom: solid black;
    padding: 0rem 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

header a img {
    width: 2.4rem;
    height: 3.4rem;
}


header nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    gap: 2.3rem;
    font-size: 0.85rem;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}


/* FOOTER STYLES */
footer {
    border-top: solid black;
    width: 95%;
    display: flex;
    gap: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
}

footer li {
    text-decoration: none;
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: black;
}


/*HOME -  MAIN STYLES - FLEX*/
main {
    /* DELETE BORDER WHEN DONE */
    /* border: solid black; */
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

/* Does this part of the code do anything? */

main .titleAndP {
    width: 80%;
    text-align: center;
}

main .titleAndP h1 {
    margin: 25px 0px;
}

main .titleAndP p {
    font-size: 1.2rem;
}

.containerCarousel {
    width: 95%;
}

.carrouselTextImages {
    /* background-color: linear-gradient(to top, rgb(150, 180, 255), rgba(88, 188, 255, 0.6), rgb(255, 255, 255)); */
    /* remove borders once finished */
    border-bottom: solid black;
    /* border-left: solid black; */
    /* border-right: solid black; */
}

.lifeStyleChoices {
    justify-content: center;
    margin-top: 30px;
}

/* .imagesLifeStyleChoices{
    object-fit: cover;
    max-height: 50vh;
} */


.concordMaps iframe {
    height: 300px;
}


/* ----------------------------- ---------------------------- */
/* STAFF - MAIN STYLES - GRID */