* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

/*General Classes*/
.boldText {
    font-weight: bold;
}
.smallText{
    font-size: 1.4rem;
}

/* Body Styles */
body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* background: linear-gradient(to top, rgb(150, 180, 255), rgba(88, 188, 255, 1), rgb(255, 255, 255)); */
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(88, 188, 255, 0.8), rgb(255, 255, 255));
}


/*HEADER STYLES*/
header {
    border-bottom: solid black;
    padding: 0rem 2.5rem 0rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header a img {
    width: 3rem;
    height: 4rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 0.8rem;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}


/* FOOTER STYLES */
footer {
    display: flex;
    gap: 4rem;
    height: 4rem;
    align-items: center;
}

footer li {
    text-decoration: none;
    list-style: none;
}


/*HOME -  MAIN STYLES - FLEX*/
main {
    /* DELETE BORDER WHEN DONE */
    border: solid black;
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    align-items: center;
}

main .titleAndP {
    text-align: center;
    align-items: center;
    justify-content: center;
}

main .titleAndP h1 {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main .titleAndP p {
    width: 25rem;
    font-size: 1.2rem;
    max-width: 45rem;
}

.containerCarousel {
    width: 40%;
}



.carrouselTextImages {
    align-content: center;
    background-color: linear-gradient(to top, rgb(150, 180, 255), rgba(88, 188, 255, 0.6), rgb(255, 255, 255));
    ;
    /* remove borders once finished */
    border-bottom: solid black;
    /* border-left: solid black; */
    /* border-right: solid black; */
}

.lifeStyleChoices {
    align-content: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}

/* .imagesLifeStyleChoices{
    object-fit: cover;
    max-height: 50vh;
} */


.concordMaps iframe {
    height: 300px;
}


/* ----------------------------- ---------------------------- */
/* STAFF - MAIN STYLES - GRID */